.color-btn {
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:20px 20px;
	text-decoration:none;
	margin:3px;
	border:2px solid black;
	
	
	&:active {
		position:relative;
		top:1px;
	}
	
}

.maroon-btn {
	background-color: rgba(128,0,0,.8);
	&:hover, 
	&:active {
		background-color:rgba(128,0,0,1);
	}
}

.red-btn {
	background-color:rgba(255,0,0,.7);
	&:hover,
	&:active {
		background-color:rgba(255,0,0,1);
	}
}

.orange-btn {
	background-color:rgba(255,165,0,.8);
	&:hover,
	&:active {
		background-color:rgba(255,165,0,1);
	}
}

.yellow-btn {
	background-color:rgba(255,255,0,.6);
	&:hover,
	&:active {
		background-color:rgba(255,255,0,1);
	}
}

.olive-btn {
	background-color:rgba(128,128,0,.8);
	&:hover,
	&:active {
		background-color:rgba(128,128,0,1);
	}
}

.green-btn {
	background-color:rgba(0,128,0,.8);
	&:hover,
	&:active {
		background-color:rgba(0,128,0,1);
	}
}

.purple-btn {
	background-color:rgba(128,0,128,.8);
	&:hover,
	&:active {
		background-color:rgba(128,0,128,1);
	}
}

.fuchsia-btn {
	background-color:rgba(255,0,255,.6);
	&:hover,
	&:active {
		background-color:rgba(255,0,255,1);
	}
}

.lime-btn {
	background-color:rgba(0,255,0,.6);
	&:hover,
	&:active {
		background-color:rgba(0,255,0,1);
	}
}

.teal-btn {
	background-color:rgba(0,128,128,.8);
	&:hover,
	&:active {
		background-color:rgba(0,128,128,1);
	}
}

.aqua-btn {
	background-color:rgba(0,255,255,.4);
	&:hover,
	&:active {
		background-color:rgba(0,255,255,1);
	}
}

.blue-btn {
	background-color:rgba(0,0,255,.8);
	&:hover,
	&:active {
		background-color:rgba(0,0,255,1);
	}
}

.navy-btn {
	background-color:rgba(0,0,128,.8);
	&:hover,
	&:active {
		background-color:rgba(0,0,128,1);
	}
}

.black-btn {
	background-color:rgba(0,0,0,.8);
	&:hover,
	&:active {
		background-color:rgba(0,0,0,1);
	}
}

.gray-btn {
	background-color:rgba(128,128,128,.8);
	&:hover,
	&:active {
		background-color:rgba(128,128,128,1);
	}
}

.white-btn {
	background-color:rgba(255,255,255,.8);
	&:hover,
	&:active {
		background-color:rgba(255,255,255,1);
	}
}

.width-btn {
	background-color:#dbe6c4;
	border-radius:7px;
	border:2px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	padding:13px 30px;
	margin:3px;

	&:hover {
		background-color:#b3b99f;
	}

	&:active {
		position:relative;
		top:1px;
	}
	.line {
		width: unset;
		background-color: #000;
	}
}

.extra-thin-btn {
	padding: 12px 30px;
	.line {
		height: 2px;
		border-radius: 2px;
	}
}

.thin-btn {
	padding: 10.5px 30px;
	.line {
		height: 5px;
		border-radius: 5px;
	}
}

.medium-btn {
	padding: 8px 30px;
	.line {
		height: 10px;
		border-radius: 10px;
	}
}

.large-btn {
	padding: 5px 30px;
	.line {
		height: 15px;
		border-radius: 15px;
	}
}

.myButton {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}
